extends layout

block content
  h1= title
  p Welcome to #{title}
  p
    a(href='/fasta_upload') Upload Fastas
  p
    a(href='/bwa_check_index') BWA Check Index
  p
    a(href='/bwa_index') BWA Index
  p
    a(href='/dms2dd') dms2dd
